# 1. Copy this file to "config.env"
# 2. Edit it as appropriate.

# Configure the OpenTelemetry Auto Instrumentations
OTEL_EXPORTER_OTLP_ENDPOINT=https://{my-otlp-endpoint}
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Bearer {my-secret-token}"
OTEL_SERVICE_NAME=socket-io-chat
